/** @format */

.product-card {
	width: 25%;
	border-radius: 1rem;
	border: solid white 1rem;
	background-color: white;
}

.image-swapper {
	position: relative;
	width: 100%; /* match your card width */
	padding-top: 100%; /* or height: Xpx; to lock aspect ratio */
	overflow: hidden;
}

.image-swapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s ease-in-out;
	border-radius: 1rem;
}

/* show only the primary by default */
.image-swapper .primary {
	opacity: 1;
	z-index: 1;
	cursor: pointer;
}
.image-swapper .secondary {
	opacity: 0;
	z-index: 0;
	cursor: pointer;
}

/* on hover, fade primary out and secondary in */
.image-swapper:hover .primary {
	opacity: 0;
}
.image-swapper:hover .secondary {
	opacity: 1;
}

.price-section {
	list-style-type: none;
	text-align: center;
	background-color: hsla(0, 0%, 74%, 0.3);
	padding: 0.25rem;
	font-size: 1.25rem;
	border-radius: 0.25rem;
}

.price-section li {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.7);
}
