/** @format */
/*--------------------------------------------------------------------------
                           	  Main Section                                
--------------------------------------------------------------------------*/
#home-page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}
/*--------------------------------------------------------------------------
                           	Container for ALL products                                
--------------------------------------------------------------------------*/
.products-container {
	width: 100%;
	padding-top: 2%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
	padding-inline: 5%;
	justify-content: center;
}
