/** @format */

#navigation-bar {
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.75);
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navigation-bar img {
	max-width: 4rem;
}

#navigation-bar-center-content {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	text-decoration: none;
	height: 4rem;
}

#navigation-bar-center-content img {
	height: 100%;
	width: auto;
	max-width: 100%;
	object-fit: contain;
}
