/** @format */
/*--------------------------------------------------------------------------
                           	  Main Parent                                
--------------------------------------------------------------------------*/
#landing-page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;

	/*Styling for inner content*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*--------------------------------------------------------------------------
                           	 	 Keyframes                                
--------------------------------------------------------------------------*/
@keyframes sway {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-0.1eg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(0.1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
/*--------------------------------------------------------------------------
                           	  Logo Section                                
--------------------------------------------------------------------------*/

#logo-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#logo-section img {
	height: 20vh;
	object-fit: contain;
	transition: transform 0.3s;
	transform-origin: bottom center;
	animation: sway 6s ease-in-out infinite;
}
/*--------------------------------------------------------------------------
                             Button Section                                
--------------------------------------------------------------------------*/
#button-section {
	margin-top: 2vh;
	display: flex;
	justify-content: center;
}

#button-section button {
	padding: 1% 1.5%;
	height: 6vh;
	border-radius: 1rem;
	border-style: none;
	background-color: rgba(52, 47, 47, 0.5);
	border: 4px solid rgba(0, 255, 195, 0.25);
	transition: transform 0.3s ease-in-out;
}

#button-section button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#button-section button img {
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}
